/*Begin your code here*/
/*Requirement 1*/
body{
  margin: 0;
  padding: 0;
  font-size: 16pt; 
  font-family: 'Raleway', sans-serif;
  background-image: url(../images/concrete_seamless.png);
}

/*Requirement 2*/
header{
  background: #fff;
  border-bottom: 3px solid #50C7C7;
  /*Your  code here again.*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*Requirement 3*/
.nav_links{
  /*Your code here again.*/
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*Requirement 4*/
.price{
  min-height: 500px;
  /*Your code here*/
  /*You must use flex.
  /*Don't forget to vertically and horizontally 
  align the element*/
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

/*Requirement 5*/
.package {
  margin: 12px;
  background: #fff;
  border-radius: 7px;
  padding: 0 0 50px 0;
  /*Your code here.*/
  /*Take a look at flex-basis*/
  flex-basis: 400px;
}

/*Requirement 6*/
/* UNCOMMENT THIS CODE ONCE YOU HAVE THE SELECTOR */
.package header {
  background: #288080;
  border: 2px solid #45ADAD;
  padding: 20px 0;
  border-radius: 7px 7px 0 0;
}

/*Requirement 7*/
.gallery{
  min-height: 600px;
  /*Your code here again.*/ 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/*Requirement 8*/
/* UNCOMMENT THIS CODE ONCE YOU HAVE THE SELECTOR */
.gallery img{
  border: 10px #50C7C7 solid;
  margin: 10px;
  width: 300px;
}

/*Requirement 9*/
#logo{
   /*Your code here.*/
  width: 25px;
  opacity: 0;
  animation-name: logo_grow;
  animation-duration: 15s;
  animation-fill-mode: forwards;
}

/*Keyframes for animation*/
@-webkit-keyframes logo_grow{
  /*Your code here.*/
  0%{
    opacity: 0;
    width: 25px;
  }
  100%{
    opacity: 1;
    width: 420px
  }
}

@keyframes logo_grow{
  /*Your code here.*/
  0%{
    opacity: 0;
    width: 25px;
  }
  100%{
    opacity: 1;
    width: 420px
  }
} 

@media screen and (min-width: 850px){

  /*Requirement 10*/
  header{
    /*Your code here again.*/
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
  }

  /*Requirement 10*/
  .nav_links{
    /*Your code here again.*/ 
    flex-direction: row;
    align-items:center;
    justify-content: center;
  }

  /*Requirement 11*/
  .package {
    /*Your code here again.*/
    flex-basis: 230px;
  } 
}

/*Requirement 12*/
/*Add media query to handle reduced-motion*/
/*Your code here again.*/ 
@media (prefers-reduced-motion) {
  .animation {
    animation-name: logo_grow;
    animation: none;
  }
}

@media print { 

/*Requirement 13*/
body header footer{
  background-image: none;
}

/*Requirement 14*/
nav{
    width: 100%;
}

/*Requirement 15*/
.nav_links{
    text-align: center;
}

/*Requirement 16*/
.price{
    vertical-align: bottom;
}

/*Requirement 17*/
.package{
    border-width: 2px solid;
    border-color: #45ADAD;
    flex-basis: 200px
}

/*Requirement 18*/
.gallery{
  display:none
}