/* Default text is Lucida Console Times New Roman font 
with a sans-serif as a fallback. The background color is black 
(use hexadecimal values) The foreground is white (use hexadecimal values) */
body {
    font-family: 'Times New Roman', sans-serif;
    background-color: #000000;
    color: #ffffff;
}

/* Header 1 is 64px, centered, 
and has padding of 10px */
h1 {
    font-size: 64px;
    text-align: center; 
    padding: 10px;
}

/* Header 2 is 32px, with grey (#808080) drop shadow 
(I would use text-shadow property) that is offset 4px horizontally, 
4px vertically, and 2px blur */
h2 {
    font-size: 32px;
    text-shadow: 4px 4px 2px #808080;
}

/* Paragraphs use 24px font and have 15px padding on the top only */
p {
    font-size: 24px;
    padding-top: 15px;
}

/* Images match the following styles:
All images are on their own line
All images are centered 
All images are 550px wide with proper aspect ratio (they are not warped or stretched)*/
 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    width: auto;
    height: auto;
 }

 /* All divs must be at least 150px tall 
 (but will automatically be taller if needed) 
 with 25px padding on all sides.*/
 div {
    min-height: 150px;
    height: auto; 
    padding: 25px;
 }

 /* Red div has the following styles:
Background color is hexadecimal value for red
Text is aligned on the right side */
 #red {
    background-color: #ff0000;
    text-align: right;
 }

/* Blue div has the following styles
a.     Background color is hex value for blue
b.     Text is aligned on the left side */
#blue {
    background-color: #0000ff;
    text-align: left;
}

/* Yellow div has the following styles
a.     Background color is hexadecimal value for yellow 
b.     Text is aligned on the right side
c.     Header 2 and paragraph text is black
d.     Header 2 drop shadow is #c7e2c7 with the same parameters as above */
#yellow {
    background-color: #ffff00;
    text-align: right;
    color: #000000;
}

#yellow.h2 {
    color: #000000;
    text-shadow: #c7e2c7
}

/* Green div has the following styles
a.     Background color is hexadecimal value for green  (You can use #008000)
b.     Text is aligned on the left side */
#green {
    background-color: #008000;
    text-align: left;
}

/* Paragraphs within the footer have text that is centered with
 10px padding on the bottom and right only. (No padding on the left or top.) */
 footer {
    text-align: center;
    padding-bottom: 10px;
    padding-right: 10px;
 }