html{
    scroll-behavior: smooth;
}

body{
    color: white;
    text-align: left;
    background-color: rgb(141, 109, 88);

    font-family: 'Lora', serif;
    font-size: 16pt; 
    margin: 0;
    padding: 0;
}

/* finished */
header{
    /* sets background-image with parallax effect */
    background-image: url(../images/catbg.jpeg);
    background-attachment: fixed;    
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: black; 

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* finished */
nav{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(141, 109, 88);
}   

/* finished */
.nav_links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav_links a{
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    text-decoration: underline;
}

.nav_links .current{
    background-color: rgb(247, 247, 247);
    color: black;
}


/*skip class element*/
.skip a {
    background: rgb(141, 109, 88);
    left: 0;
    padding: 10px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}
  
/*positions skip class element*/
.skip a:focus{
    position: absolute;
    top: 2px;   
    color: white;
}

/* unvisited link */
a:link {
    color: white;
  }

/* mouse over link */
a:hover{
    color: rgb(253, 182, 198);
}
.skip a:hover{
    color: rgb(253, 182, 198);
}

/* RESTYLE FOR H2 AND H3*/
h1, h2, h3{
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    font-family: 'Montserrat', sans-serif;

    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#mission, #facts, #testimonials, #about, #cats{
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    font-family: 'Montserrat', sans-serif;

    padding-left: 20px;
    padding-right: 20px;
}

p{
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

ul li{
    padding-left: 20px;
    padding-right: 20px;
}

.facts li{
    list-style-type: circle;
    list-style-position: inside;
}

footer{
    color: #515048;
    padding: 40px;
    text-align: center;

    /* sets background-image with parallax effect */
    background-image: url(../images/catbg.jpeg);
    background-attachment: fixed; 
    background-position: top;   
    background-repeat: no-repeat;
    background-size: cover;
  }

.footer p{
    background:rgb(141, 109, 88);
    color: white;
    text-align: center;

    font-family: 'Lora', serif;
    font-size: 16pt; 
    margin: 0px;
    padding: 5px;

}

/* resizes logo */
.resize {
    width: 50%;
    max-height: 340px;
    max-width: 1200px;
}

/* CSS FOR - "ABOUT US" PAGE */
.grid{
    /*Grid Specific*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 20px;
  	text-align: center;
  	border: 10px solid black;
}

.grid img{
    border: 5px solid black;
    filter: brightness(1.1);
    filter: saturate(1.2);
    filter: sepia(.1);
    width: 300px;
    height: 300px;
}

/* CSS FOR - "COMMUNITY" PAGE */

/* Grid */
.community-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
    margin: 0;
    padding: 0;
}
  
/* Frame */
.community-frame{
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: black;
    color: #f7f7f7;
}
  
/* Images */
.community-img{
    max-width: 100%;
    object-fit: cover;
    height: 300px;
    width: 350px;
}
  
.community-img:hover{
    opacity: .8;
}

  
/*Accessibility to turn off animations
and movement for people who have modified their 
preferences to reduce motion.*/

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
  
    /*Turn off parallax*/
    header{
      background-attachment: initial;
    }
}
  

/*mobile view*/
@media screen and (max-width: 480px){
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
  
    .nav_links{
        flex-direction: row;
        align-items:center;
        justify-content: center;
   }
}

/*tablet view*/
@media screen and (min-width: 481px) and (max-width: 1024px){
	header{
        flex-direction: column;
        align-items: center;
    }
  
  .nav_links{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;
   }
}

/*desktop view*/
@media screen and (min-width: 1025px){
	header{
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }

/* @media screen and (max-width: 760px){
	#main{
	font-size: 24px;
    line-height: 1;
    padding: 50px 0;
    text-align: left;
	}

	.nav_links{
    display: flex;
    flex-direction: column;
    padding: 25px 0; 
    align-items: center;
    flex-wrap: wrap;
	}

	.navitem{
		display: flex;
		font-size: 15px;
} */

/*desktop view*/
/* @media screen and (max-width: 760px){
	.main{
		font-size: 24px;
    line-height: 1;
    padding: 50px 0;
    text-align: left;
	}

	nav{
    display: flex;
    flex-direction: column;
    padding: 25px 0; 
    align-items: center;
    flex-wrap: wrap;
	}

	.navitem{
		display: flex;
		font-size: 15px;
} */ 