html{
    scroll-behavior: smooth;
}

body{
    color: white;
    text-align: left;
    background-color: rgb(141, 109, 88);

    font-family: 'Lora', serif;
    font-size: 16pt; 
    margin: 0;
    padding: 0;
}

/* finished */
header{
    /* sets background-image with parallax effect */
    background-image: url(../images/catbg.jpeg);
    background-attachment: fixed;    
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    color: black; 

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* finished */
nav{
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(141, 109, 88);
}   

/* finished */
.nav_links{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.nav_links a{
    color: white;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    text-decoration: underline;
}

.nav_links .current{
    background-color: rgb(247, 247, 247);
    color: black;
}


/*skip class element*/
.skip a {
    background: rgb(141, 109, 88);
    left: 0;
    padding: 10px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
}
  
/*positions skip class element*/
.skip a:focus{
    position: absolute;
    top: 2px;   
    color: white;
}

/* unvisited link */
a:link {
    color: white;
  }

/* mouse over link */
a:hover{
    color: rgb(253, 182, 198);
}
.skip a:hover{
    color: rgb(253, 182, 198);
}

h1{
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    font-family: 'Montserrat', sans-serif;

    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

h2{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    font-family: 'Montserrat', sans-serif;

    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

h3{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    font-family: 'Montserrat', sans-serif;

    padding-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

#mission, #facts, #testimonials, #cats{
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    font-family: 'Montserrat', sans-serif;

    padding-left: 20px;
    padding-right: 20px;
}

p{
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

ul li{
    padding-left: 20px;
    padding-right: 20px;
}

.facts li{
    list-style-type: circle;
    list-style-position: inside;
}

#partners{
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

footer{
    color: #515048;
    padding: 40px;
    text-align: center;

    /* sets background-image with parallax effect */
    background-image: url(../images/catbg.jpeg);
    background-attachment: fixed; 
    background-position: top;   
    background-repeat: no-repeat;
    background-size: cover;
  }

.footer p{
    background:rgb(141, 109, 88);
    color: white;
    text-align: center;

    font-family: 'Lora', serif;
    font-size: 16pt; 
    margin: 0px;
    padding: 5px;

}

#logo {
    opacity: 0;
    animation-name: logo_bounce;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

/* resizes logo */
.resize {
    width: 50%;
    max-height: 340px;
    max-width: 1200px;
}

/* CSS FOR - "ABOUT US" PAGE */
.grid{
    /*Grid Specific*/
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 20px;
  	text-align: center;
  	border: 10px solid black;
}

.grid img{
    border: 5px solid black;
    filter: brightness(1.1);
    filter: saturate(1.2);
    filter: sepia(.1);
    width: 300px;
    height: 300px;
}

/* CSS FOR - "COMMUNITY" PAGE */

/* Grid */
.community-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1.5rem;
    justify-items: center;
    margin: 0;
    padding: 10px;
}
  
/* Frame */
.community-frame{
    padding: 10px;
    font-size: 16px;
    text-align: center;
    background-color: black;
    color: #f7f7f7;
}
  
/* Images */
.community-img{
    max-width: 100%;
    object-fit: cover;
    height: 300px;
    width: 350px;
}
  
.community-img:hover{
    opacity: .8;
}

/*Accessibility to turn off animations
and movement for people who have modified their 
preferences to reduce motion.*/

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    .skip a{
      -webkit-transition: none; /* sets to default setting */
      transition: none;        /* sets to default setting */
     }
  
    /*Turn off parallax*/
    header{
      background-attachment: initial;
    }

    #logo{
        animation: none;
        width: 420px;
        opacity: 1;
    }

    .flip-card .flip-card-inner{
        transform: rotateY(180deg);
    }
}
  

/*mobile view*/
@media screen and (max-width: 480px){
    header{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
  
    .nav_links{
        flex-direction: row;
        align-items:center;
        justify-content: center;
   }
}

/*tablet view*/
@media screen and (min-width: 481px) and (max-width: 1024px){
	header{
        flex-direction: column;
        align-items: center;
    }
  
  .nav_links{
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;
   }
}

/*desktop view*/
@media screen and (min-width: 1025px){
	header{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        height: 420px;
    }

    /*positions skip class element*/
    .skip a:focus{
        position: absolute;
        top: 95px;   
        color: white;
    }
}

/*For animation*/
@-webkit-keyframes logo_bounce{
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.3);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
  
@keyframes logo_grow{
    0% {
        transform: scale(0.1);
        opacity: 0;
    }
    60% {
        transform: scale(1.3);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.form {
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form button{
    text-align: center;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.form .form_title {
    color: white;
    font-size: 28px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
}
  
/* Positions card on page */
.flip-card-inner {
    margin: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
/* Horizontal flip for mouse*/
.flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner {
    transform: rotateY(180deg);
}
  
/* Position front and back of card */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;

    /* Safari */
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: rgb(247, 247, 247);
    color: black;
    text-align: center;
}
      
.flip-card-back {
    background-color: rgb(253, 182, 198);
    color: white;
    transform: rotateY(180deg);
}

.flip-card-text {
    text-align: center;
    color: black;
    padding: 50px;
}